<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>PICTURE+254</title>
  <meta name="keywords" content="PICTURE+254, contest, photographer, photography, entries, owner, Professionals, compete, competition, Contestants,image, photos, Gallery,categories, submit, photograph, winners, Stock, Content, album." />
  <meta name="description" content="This exciting contest gives everyday ordinary people, developing and professional photographers a chance to express themselves to a global audience through the medium of photography." />
  <meta name="author" content="PICTURE+254" />
  <meta property="og:title" content="PICTURE+254" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://picture254.com/" />
  <meta property="og:image" content="www.picture254.com/images/logo.jpg" />
  <meta property="og:site_name" content="PICTURE+254" />
  <meta property="og:description" content="This exciting contest gives everyday ordinary people, developing and professional photographers a chance to express themselves to a global audience through the medium of photography." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ asset('js/right_click.js') }}"></script>
	<link rel="shortcut icon" href="../img-global/favicon.png">
	<link rel="stylesheet" href="gallery.css">
	<link rel="stylesheet" href="style-expand-effect.css">
	<link rel="apple-touch-icon" sizes="76x76" href="{{asset('images/logo_.png')}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{asset('images/logo_.png')}}">
</head>
<body>
<section>
	<header>
		<h1>Overlaping</h1>
	</header>
	<article>
		<div class="gallery">
			<a href="javascript:void(0)"> <img class="img01" src="sndsb" style="background: red;" /> </a>
			<a href="javascript:void(0)"> <img class="img02" src="fdhf" style="background: black;"/> </a>
			<a href="javascript:void(0)"> <img class="img03" src="../img-global/nature3.jpg"/> </a>
			<a href="javascript:void(0)"> <img class="img04" src="../img-global/nature4.jpg" style="background: green;"/> </a>
			<a href="javascript:void(0)"> <img class="img05" src="../img-global/nature5.jpg" style="background: blue;"/> </a>
			<a href="javascript:void(0)"> <img class="img06" src="../img-global/nature5.jpg"/> </a>
			<a href="javascript:void(0)"> <img class="img07" src="../img-global/nature5.jpg"/> </a>
		</div>
	</article>
</section>
</body>
</html>