<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Galeria CSS 3 - Expand</title>
	<link rel="shortcut icon" href="../img-global/favicon.png">
	<link rel="stylesheet" href="gallery.css">
	<link rel="stylesheet" href="style-expand-effect.css">
</head>
<body>
<section>
	<header>
		<h1>Overlaping</h1>
	</header>
	<article>
		<div class="gallery">
			<a href="javascript:void(0)"> <img class="img01" src="sndsb" style="background: red;" /> </a>
			<a href="javascript:void(0)"> <img class="img02" src="fdhf" style="background: black;"/> </a>
			<a href="javascript:void(0)"> <img class="img03" src="../img-global/nature3.jpg"/> </a>
			<a href="javascript:void(0)"> <img class="img04" src="../img-global/nature4.jpg" style="background: green;"/> </a>
			<a href="javascript:void(0)"> <img class="img05" src="../img-global/nature5.jpg" style="background: blue;"/> </a>
			<a href="javascript:void(0)"> <img class="img06" src="../img-global/nature5.jpg"/> </a>
			<a href="javascript:void(0)"> <img class="img07" src="../img-global/nature5.jpg"/> </a>
		</div>
	</article>
</section>
</body>
</html>