<div class="section section-tabled" id="prizes">
  <div class="paragraphs-items paragraphs-items-field-content paragraphs-items-field-content-full paragraphs-items-full">
  
    <div class="field-content">
      <div class="entity entity-paragraphs-item paragraphs-item-accordion">
  <div class="content">
    
<div class="paragraphs-items paragraphs-items-field-accordion-content paragraphs-items-field-accordion-content-full paragraphs-items-full">
  
<div class="field-accordion-content">
  <div class="entity entity-paragraphs-item paragraphs-item-accordion-content ">
    
    <div class="content">
      <div class="accordion-item">
        <div class="wrapper js-accordion-trigger">
          <div class="summary">
            <h2 class="title">
            
          <div class="field-accordion-title">
            Prizes 
          </div>
          </h2>
          <div class="text">
            
            <div class="field-accordion-summary" style="line-height: 25px; text-align: justify; letter-spacing: 0px;">
              <h4>
              All entries will be stored in the Picture+254 Stock Gallery.
              </h4>
            </div>

          </div>

        </div>
        
        <div class="cover-image">
          
  <div class="field-accordion-cover-image">
    <img src="images/pic20.jpg" width="522" height="200" />  
  </div>
        </div>
      </div>
      <div class="description">
        
  <div class="field-accordion-description" style="line-height: 25px; text-align: justify; letter-spacing: 0px;">
    <!-- <p><span style=""></span></p> -->

<!-- <p><span style="font-size:18px;">Description:</span></p>
 -->
<!-- <ul> -->
        <div class="element">

          <div class="top-border"></div>
            <div class="contentt">

All entries will be stored in the Picture+254 Stock Gallery which will be marketed Globally. Where an Image/s is purchased by a third party, the owner of the image will be notified directly on their phone and email. The Sponsors will remit royalties to the registered owner of the image less administrative costs in a timely manner.
<p></p>
<p>
<b>Top 3 Overall Grand Prizes Non – Professional:</b> [$5,000, $3000 and $2000] plus entry into other global photo competitions and exhibition in targeted National and International Photo and Art Exhibition at the cost of the Sponsors.
</p>

<p>
<b>Top 3 Overall Grand Prizes Professional:</b>[$7,000, $5000 and $3000] plus entry into other global photo competitions and exhibition in targeted National and International Photo and Art Exhibitions at the cost of the Sponsors.
</p>

<p>
<b>Category Winners:</b>The winners of each of the seven categories will receive $500 plus entry and profiling in exhibitions and media platforms.
</p>

<p>
<b>Photo of the Week (open only to Non – Professionals): </b> $50, training, mentorships and profiling.
</p>

<p>
<b>Photo of the Day (open only to Non – Professionals):</b> $20 and profiling.
</p>

<p>
Winners may receive additional non-cash prizes.
</p> 

<p>
Winners must sign a release and license, as well as a declaration of eligibility, and will be responsible for paying any fees or taxes associated with the prize. All prizes are awarded “as is” and non-transferable.
</p> 

<p>
In case any applicable law prohibits the Sponsor from awarding a photographer the cash prize and/or any non-cash prize, the winner will be awarded the prize in name only.
</p>
<b>Image Profiling:</b>
Picture+254 will randomly select photos for highlight on its website during and after the competition while displaying entries in a publicly accessible Picture+254 Stock Gallery for viewership and purchase by interested parties.

                  <div class="bottom-border" style="margin-top: 20px;"></div>
            </div>
</div>

<!-- <li><span style="font-size:18px;"><a href="https://www.worldphoto.org/sony-world-photography-awards/2017/professional/">Professional</a> - Recognizing outstanding bodies of work</span></li>
  <li><span style="font-size:18px;"><a href="https://www.worldphoto.org/sony-world-photography-awards/2017/open">Open</a> - Rewarding exceptional standalone images</span></li>
  <li><span style="font-size:18px;"><a href="https://www.worldphoto.org/sony-world-photography-awards/2017/youth">Youth</a> - Celebrating the best single images by emerging photographers aged between 12-19 years-old</span></li>
  <li><span style="font-size:18px;"><a href="https://www.worldphoto.org/student-focus">Student</a> - Providing a platform for photography students worldwide</span></li> -->
<!-- </ul>   -->
</div>

      </div>
    </div>    
  
    </div>
</div>
  </div>

</div>
  </div>
</div>
  </div>
</div>

</div>